body {
  background-color: rgb(46, 46, 46);
  margin: 0px;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.timediv {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  font-family: 'Inter Tight', sans-serif;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
  vertical-align: center;
  font-size: 200%;
}

.bottomdiv {
  display: inline;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  margin-bottom: 20px;
  -moz-transform: translateX(-50%) translateY(-5%);
  -webkit-transform: translateX(-50%) translateY(-5%);
  transform: translateX(-50%) translateY(-5%);
  font-family: 'Inter Tight', sans-serif;
}

a {
  text-align: center;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

a:link {
  color: rgb(46, 46, 46);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(46, 46, 46);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(157, 157, 157);
  background-color: transparent;
  text-decoration: none;
}
